body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #292929;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 95vh;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

#logo {
  width: 230px;
  height: auto;
  border-radius: 50%;
  border: 4px solid #254bf3;
}

h1 {
  color: #ff6347;
  font-size: 24px;
}

main {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 80%;
  max-width: 600px;
}

.info-section {
  margin-bottom: 20px;
}

h2 {
  color: #f5f5f5dc;
  border-bottom: 2px solid #949494;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.info-item {
  margin-bottom: 10px;
}

.discord-invite-btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #5865F2;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.discord-invite-btn:hover {
  background-color: #4752C4;
}

.info-item strong {
  font-weight: bold;
  margin-right: 10px;
  color: #ff6347;
}

p {
  color: #e0e0e0;
  line-height: 1.6;
}



button {
  font-family: "Recursive", sans-serif;
  width: 100px;
  height: 35px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  color: #fff;
  border-radius: 22px;
  border: none;
  z-index: 1;
  box-shadow: 0px 0px 20px #47b8ff50, 0px 5px 5px -1px #3a7de924, inset 4px 4px 8px #afe6ff52, inset -4px -4px 8px #135fd835;
  background-image: linear-gradient(322deg, #60d9ff, #1d74ff 48%);
}
button:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  transition: all 0.3s ease-in-out;
  background-image: linear-gradient(126deg, #60d9ff, #1d74ff 48%);
  box-shadow: 0px 5px 50px #47b8ff75, 0px 10px 10px -4px #3a7de936, inset 4px 4px 8px #afe6ff52, inset -4px -4px 8px #135fd835;
  opacity: 0;
}
button:hover:before {
  opacity: 1;
}
button:hover {
  box-shadow: 0px 5px 50px #47b8ff75, 0px 10px 10px -4px #3a7de936, inset 4px 4px 8px #afe6ff52, inset -4px -4px 8px #135fd835;
}
